
/* Custom CSS */

.card-titles {
	font-weight: bolder !important;
	font-size: 24px !important;	
}
.card-sub-titles {
	font-weight: bolder !important;
    font-size: 20px !important;
}

.nested-card-title {
	font-size: 18px !important;
}

/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.trash > * {
	margin: 0 !important;
}

/* custom width of table columns */
.custom-id-column {
	width: 5%; 
}

.custom-answer-column {
	width: 60%;
}

/* .custom-correct-column {
	width: 1%;
} */

.custom-delete-column {
	width: 9%;
}

.actionset label {
	font-weight: 700;
}

:root {
	--nav-favicon-blue: #2F47BA;
}

.breadcrumb-path i {
	font-size: 18px;
	color: var(--nav-favicon-blue);
}

@media (max-width: 575.98px) {
    .form-creation {
        padding: 0px;
    }
    .card-body {
		padding: 0 rem;
	}

    
    
	.card {
		margin-bottom: 0.9375rem;
	}
	.page-wrapper > .content {
		padding: 0.9375rem 0.9375rem 0;
	}
	.chat-window {
		margin-bottom: 0.9375rem;
	}
	
	.head-link-set ul {
		display: block;
	}
	.card-header {
		padding: .75rem 1.25rem;
	}
	.card-footer {
		padding: .75rem 1.25rem;
	}
	.page-header {
		margin-bottom: 0.9375rem;
	}
	.sidebar-menu ul {
		padding: 25px 0 0;
	}
	.pagination-lg .page-link {
		font-size: 1.2rem;
		padding: 0.5rem 0.625rem;
	}
	.head-link-set {
		display: inline-block;
		align-items: center;
		justify-content: normal;
		width: 100%;
	}
	.card-body-inner ul li {
		margin: 0 0 15px;
	}			
	a.btn-add {
		width: 100%;
	}
	.invoice-details {
		float: left;
		text-align: left;
	}
	.fc-toolbar .fc-right {
		display: inline-block;
		float: none;
		margin: 10px auto 0;
		width: 100%;
		clear: both;
	}
	a.btn-dash{
		margin-bottom: 15px;
	}
	.fc-toolbar .fc-left {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.fc-toolbar .fc-center {
		display: inline-block;
		width: 100%;
		margin-top: 15px;
		text-align: center;
	}
	.fc-toolbar .fc-center h2 {
		width: 100%;
	}
	
	.chat-window .chat-cont-right .chat-header .media .media-body {
		display: none;
	}
	.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-name,
	.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-last-chat {
		max-width: 160px;
	}
	.page-header .breadcrumb {
		display: none;
	}
	.form-week li {
		margin: 1px;
	}
	.btn-apply {
		padding: 10px ;
		font-size: 14px;
	}
	.user-menu {
		display: none !important;
	}
	.mobile-user-menu {
		display: block;
	}
	.checkworking ul,
	.form-week ul	 {
		flex-wrap: wrap;
	}
	.card-body .default-set ul{
		display: block !important	;
	}
}